<body>
<!-- <p>Bienvenidos a DesignMatch, tu aplicación de diseños favorita.</p> -->

<!-- <mat-card class="Bienvenidos">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Bienvenidos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Bienvenidos a DesignMatch, tu aplicación de diseños favorita.
      </p>
    </mat-card-content>
  </mat-card> -->

  <mat-tab-group>
    <mat-tab label="Bienvenido"> Somos una herramienta que permite a pequeñas, medianas y grandes empresas comunicarse abiertamente con sus diseñadores, permitiéndoles subir los diseños. Como empresa, te va a permitir tener un control sobre los diseños, acceso las 24/7 a la información, orden sobre los diseños y seguridad sobre los datos adjuntos. </mat-tab>
    <mat-tab label="¿Quienes Somos?"> ¿Quiénes somos?
      Misión
      Crear un servicio de alojamiento de información, que permita a nuestros clientes desde cualquier parte del mundo tener: 1. Tener un enlace de comunicación entre las empresas y sus diseñadores, 2. Sistema de recolección de información (diseños) y 3. Acompañar este servicio con un sistema de ordenamiento y visualización de la información alojada.
      
      Visión
      Ser un servicio de alojamiento de alto rendimiento, que permita acceder a la información desde cualquier parte del mundo, generando una conexión entre el proveedor y cliente consistente en el tiempo.
      
      Objetivo
      Extendernos mundialmente, ofreciendo servicio de alejamiento a todo tiempo de empresas, con asistencia 24/7. </mat-tab>
    <mat-tab label="¿Cómo Funciona?"> ¿Eres empresa?
      Estos son los pasos que debes seguir:
      Debes ir a Crear Cuenta y suministrar la siguiente información: Nombre de la empresa, email, contraseña y confirmación de la contraseña.Después de crear tu cuenta, debes crear y configurar los proyectos con la siguiente información: Nombre, descripción y valor estimado a pagar.Tu eres el único que puede crear, modificar, eliminar, actualizar y visualizar los proyectos.
      ¿Eres diseñador?
      No es necesario que crees una cuenta.Puedes acceder a la ubicación del proyecto que vas a trabajar.Una vez en la ubicación, puedes crear un nuevo diseño con la siguiente información: nombres, apellidos, email, diseño y precio solicitado.Recuerda que: El diseño puede estar en los formatos png, jpg y/o jpeg, y debe ser de mínimo 800x600 pixeles.Si se subió perfectamente el diseño vas a ver “Hemos recibido tu diseño y lo estamos procesado para que sea publicado”. </mat-tab>
  </mat-tab-group>

</body>