
  .mat-form-field {
    font-size: 14px;
    width: 60%;
    position: relative;
    left: 50px;
    top: 15px;
  }
  .mat-table-users {
    width: 100%;
    position: relative;
    left: 25px;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  .button-add{
    position: relative;
    left: 50px;
  }
  .tamaño-iconos{
    font-size: 2em;
  }
  