.container {
  display: flex;
  flex-direction: column;
  min-width: 450px;
  border-radius: 80%;
}

.container > * {
  width: 100%;
}

.form {
  display: flex;
  padding-top: 6px;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}
.botonCerrar {
  margin-left: 19%;
  margin-top: -53px;
  font-weight: bold;
}
::ng-deep .warning{
  background: 'yellow';
}

.blue-snackbar {
  background: #2196F3;
}
